/*Set body style*/
body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

/*Target all images of the page*/
img {
	/*Set max width to 100% so the browser shrinks the image to the canvas size*/
 max-width: 100%;
 /*Set height to auto*/
 height: auto;
}

/*Selector rule * to apply to every singe element on the page*/
* {
	/*Add box-sizing:border-box to force the browser to take into account
	the padding when calculating the total width of an object*/
	box-sizing: border-box;
}

a {
	color: $mainOrange;
}
