/*Style for the different sections of the page*/
.page-section {

  padding: 1.2rem 0;

  /*Media query to add bigger padding when the screen is at
  or larger than the medium size (800px)*/
  @mixin atSmall {
    padding: 4.5rem 0;
  }

  /*Not currently used*/
  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }

  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }

  &--testimonials {

    /*Set background colour for small screens*/
    background-color: #e0e6ef;

    @mixin atLarge {
      /*lazyload will add this class to the html object that display this backgroun image when the asset needs to be display*/
      &.lazyloaded {
        /*Load the testimonials backgroup image alight to the top and centre*/
        background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
        /*Set the image to cover the container div*/
        background-size: cover;
      }
    }

  }
}
