.primary-nav {

  /*Add space between the nav items and the top icon*/
  padding-top: 10px;

  @mixin atMedium {
    padding-top: 0;
  }

  &--pull-right {

    @mixin atMedium {
      float: right;
    }

  }

  /*The BEM apprach is broken here because the style for
  unordered lists of links it's unlikely to change across the website
  so we avoid assiging classes and selectors to every <ul>, <li> and <a>*/
  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    /*Align items horizontally*/
    display: inline-block;
    /*creates a padding right between each item*/
    padding-right: 7px;

    @mixin atMedium {
      float: left;
      display: block;
      padding-right: 20px;
    }

  /*Remove padding right of last item to acommodate items on the same line
  for small screens*/
  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 20px
    }
  }


  }

  a {
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 5px 8px;
    font-size: .8rem;
    background-color: rgba($mainBlue, .5);

    @mixin atMedium {
      font-size: 1rem;
      padding: 12px 0;
      background-color: transparent;
    }
  }
}
