/*Style for sections with rows and columns*/
.row {

  @mixin clearfix;

  &--t-padding {
    /*Since images of the testimonial were moved outside their container by
    80px create a padding top to counteract this and keep the gap*/
    padding-top: 80px;
  }

  /*Nullify the padding right with a negative margin right applyied to the row
  container to delete the gutter for the last column. The overflow caused
  is deleted in the _wrapper.css file using overflow:hidden*/
  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  /*Class selector gutters to provide a vertical gap between row columns
  the > indicate that it should apply to all the direct children divs inside the row*/
  &--gutters > div {
    /*This padding right applies to all the columns of the row*/
    padding-right: 65px;
  }

  &--gutters-large > div {
    /*This padding right applies to all the columns of the row*/
    padding-right: 100px;
  }

  &--gutters-small > div {
    /*This padding right applies to all the columns of the row*/
    padding-right: 45px;
  }

  /*Add margin bottom for small size screens (default value)*/
  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }
  /*Apply 4 / 8 column layout only for screen sizes at or bigger than medium*/
  @mixin atMedium {

    /*Remove margin bottom when screens are at midium size or larger*/
    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    /*Class selector to set the width of a row content
    to be 4 columms of a 12 coloumns layout. If 12 columns are 100% width
    then 4 columns are 100/12 = 8.333 * 4 = 33.33% */
    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }
    /*Class modifiers to make the first 4 columns slightly larger*/
    &__medium-4--larger {
      width: 37%;
    }

    /*Class selector for 8 column width content*/
    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%;
    }

  }

  /*Apply 4 / 8 column layout only for screen sizes at or bigger than large*/
  @mixin atLarge {

    /*Remove margin bottom when screens are at midium size or larger*/
    &__b-margin-until-large {
      margin-bottom: 0;
    }

    /*Class selector to set the width of a row content
    to be 4 columms of a 12 coloumns layout. If 12 columns are 100% width
    then 4 columns are 100/12 = 8.333 * 4 = 33.33% */
    &__large-4 {
      float: left;
      width: 33.33%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }
    /*Class modifiers to make the first 4 columns slightly larger*/
    &__large-4--larger {
      width: 37%;
    }

    /*Class selector for 8 column width content*/
    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-8--smaller {
      width: 63%;
    }

  }

  /*Begin equial height rules*/
  /*Use flexbox to make al all the columns boxes of the same height*/
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    /*Select all the divs of this container and make them to use display flex
    instead of float*/
    & > div {
      float: none;
      display: flex;
    }

  }

  &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    /*Select all the divs of this container and make them to use display flex
    instead of float*/
    & > div {
      float: none;
      display: flex;
    }

  }

}
