/*Style for the titles of the sections*/
.section-title {
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  @mixin atMedium {
    font-size: 3.75rem;
  }

  strong {
    font-weight: 500;
  }

  &--blue {
    color: $mainBlue;
  }

  &__icon {
    /*locate icon above text for small screens*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @mixin atMedium {
      /*To lower the icon 8px for medium to large screens
      change position to relative and add a top margin of 8px*/
      position: relative;
      top: 8px;

      /*For medium size images or larger the following sertting
      nullify some of the default settings at the top that work for small
      screen only*/
      display: inline-block;
      margin-left: 0;
      margin-right: .5rem;
      margin-bottom: 0;
    }

  }
}
