.site-footer {
  background-color: $mainBlue;
  padding: .5rem 0;
  color: #FFF;
  text-align: center;

  /*Create a line break after the footer text and button for small screens*/
  &__text {
    display: block;
    margin-bottom: 1rem;
    font-weight: 300;

    @mixin atMedium {
      /*Display text and button on the same line*/
      display: inline;
      margin-bottom: 0;
      margin-right: 1.4rem;
    }
  }
}
