.site-header {
  /*Add vertical padding*/
  padding: 10px 0;
  /*Header should be flying on top of hearo so the position is absolute*/
  position: absolute;
  /*Extend header page wide after shrinking because its positioned absolutely*/
  width: 100%;
  /*Add z-index of 2 so the header is rendered on top of the hero.*/
  z-index: 2;
  /*Define an animation for the background color of the type ease-out
  to last .3 secs */
  transition: background-color .3s ease-out;

  @mixin atMedium {
    /*Fix header to the top of the page even when scrolling*/
    position: fixed;
    /*Using postcss-hexrgb to convert hex to rgb and be able to write
    variables with colours within rgba clause */
    background-color: rgba($mainBlue, .30);

    &--dark {
      background-color: rgba(23, 51, 72, .85);
    }
  }

  /*Toggle class to apply background colour when the main menu is expanded*/
  &--is-expanded {
    background-color: rgba($mainBlue, .65);
  }

  /*Float button container to the right*/
  &__btn-container {

    @mixin atMedium {
      float: right;
    }

  }

  &__logo {
    position: absolute;
    background-color: $mainBlue;
    padding: 25px 36px;
    top: 0;
    /*Align logo for small screens by shifting to the left 50%
    and then transform translate minus 50%*/
    left: 50%;
    /*Scale log size to 80% of its size*/
    transform: translateX(-50%) scale(.8);
    /*Change the transform origin from the center of the element
    to the center-top 50% from the left and 0% from the top*/
    transform-origin: 50% 0;
    transition: transform .3s ease-out;

    /*Repositioning the logo for medium to large screens*/
    @mixin atMedium {
      left: auto;
      transform: translateX(0);

<<<<<<< HEAD
      /*Scale main header logo when the sitcky header becomes darker and the user is scrolloing down*/
=======
      /*Make the header darker and the logo smaller when the user scrolls down.*/
>>>>>>> old-browser-support
      .site-header--dark & {
        transform: scale(.56);

      }
     
    }
  }

  /*Company name was added to the header logo for SEO purposes
  therefore the following class hide this text from the logo
  by moving it to the right by a big value*/
  &__logo__graphic {
    text-indent: -9999px;
  }

  /*Draw menu icon for small screen*/
  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 15px;
    /*Keep icon on top of its content so it's clicable at all times*/
    z-index: 10;

    /*Menu icon bars*/
    /*Crate an empty div (pseudo element) before the middle div and apply below
    style to create the first bar*/
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      /*Change the transform origin (pivot point) to the top left instead of the center (50% 50%)
      so it can rotate from its top left during the animation*/
      transform-origin: 0 0;
      /*Animate the transform effect to be transitioned during .3 secs instead of
      instant*/
      transition: transform .3s ease-out;
    }

    /*Middle bar*/
    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transition: all .3s ease-out;
      /*Set the transform origin to horizontally 0 (left edge)
      and vertically 50 (middle width)%*/
      transform-origin: 0 50%;
    }

    /*Crate an empty div (pseudo element) after the middle div and apply below
    style to create the last bar*/
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      /*Change the transform origin (pivot point) to the bottom left instead of the center (50% 50%)
      so it can rotate from its top left during the animation*/
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    /*Hide menu icon for small screen*/
    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      /*Rotet 45 degrees counterclock wise, horizontally scale 25% and
      tranlate vertically 1px*/
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  /*Main menu content*/
  &__menu-content {
    /*Hide its content as initial state. Compared to display: none
    It's still present in the page but hidden*/
    opacity: 0;
    /*scale content to 1.2 times its original size*/
    transform: scale(1.2);
    /*Animate all (opacity, z-index and scale) properties of the menu content from 0 to 1 in .3 seconds using
    the ease-out effect*/
    transition: all .3s ease-out;
    /*Make position relative and z-index negative so the content can't be clicked
    when hidden by opacity: 0*/
    position: relative;;
    z-index: -10;
    padding-top: 90px;
    text-align: center;

    /*Show menu content for medium or large screens*/
    @mixin atMedium {
      /*Make the object visible and clickable for medium to large screens*/
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      /*Keep original scale for midium to large screens*/
      transform: scale(1);
    }

    /*Toggle class to display menu content on small screens*/
    &--is-visible {
      /*Make the content visible by changing opacity to 1*/
      opacity: 1;
      /*Make the object clicable when visible*/
      z-index: 1;
      /*Change content scale back to original size*/
      transform: scale(1);
    }

  }

}
