.testimonial {
  /*assign a rgba "a" from alpha transparency to the backgroud colour*/
  background-color: rgba(255, 255, 255, .8);
  /*Since the text comes with a bottom padding, it only needs 1px of padding
  for the bottom margin of the container for the text padding to show*/
  padding: 0 1.8125rem 1px 1.8125rem;

  &__photo {

    /*To make the photo rounded use border radius of half the image size
    and hide the image overflow so it isn't protrude outside the edgeds
    of the container div*/
    border-radius: 80px;
    overflow: hidden;
    /*make the container of the same size of the image*/
    width: 160px;
    height: 160px;
    /*To center the photo make left and right margin to auto*/
    /*Give bottom margin a -80px so the content below the image can also
    move 80px up*/
    margin: 0 auto -80px auto;
    /*Make the position to relative so it can float outside the container*/
    position: relative;
    /*move the image up to violate the container for half its size*/
    top: -80px;
    /*Add a 6px border to the image*/
    border: 6px solid rgba(255, 255, 255, .8);
  }

  &__title {
    color: $mainBlue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    color: $mainOrange;
    text-align: center;
    font-weight: 400;
    font-size: 0.9375rem;
    margin: .25rem 0 1rem 0;
  }

}
